html {
  font-size: 16pt;
  font-family: 'Arial', Sans-serif;
  background: linear-gradient(0deg, #FF0040, #FFF) no-repeat;
  min-height: 100%;
}

p {
  color: #008000;
  font-size: 12pt;
}

img {
  float: left;
  margin-right: 20px;
}

ul {
  position: relative;
  top:20px;
  text-align:center
  
  left: 30px;
}

div {
  background-color: rgba(0, 33, 0, 0.1);
}

#message_box {
  clear: both;
  border: 1px solid black;
  min-height: 40px;
  background-color: white;
  padding-left: 25px;
  transition: all 1.5s;
}
#message_box:hover{
	
  	border: 1px solid black;
  	background-color: yellow;
	
}
#lunch_box{
	 clear: both;
  	  border: 1px solid black;
          min-height: 40px;
          text-align:center;
          padding-left: 25px;
}
